<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sh">
    <title>Login</title>
</head>
<body>
<div sec:authorize="isAuthenticated()" th:href="/"></div>
<div>
    <form th:action="@{/login}" th:object="${user}" method="POST">
        <h2>Вход в систему</h2>
        <div>
            <input type="text" th:field="*{username}" placeholder="Username"
                   autofocus="true"/>
            <input name="password" type="password" placeholder="Password"/>
            <button type="submit">Log In</button>
            <h4><a href="/registration">Зарегистрироваться</a></h4>
        </div>
    </form>
</div>
</body>
</html>