<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>

<body>
<h1>Товары</h1>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Удаление</th>
            <th>Изменение</th>
            <th>Имя покупателя</th>
            <th>Фамилия покупателя</th>
        </tr>
        <tr th:each ="item:${items}">
            <td th:utext="${item.getId()}">...</td>
            <td th:utext="${item.getName()}">...</td>
            <td th:utext="${item.getPrice()}">...</td>
            <td> <a th:href="@{|/products/delete/${item.getId()}|}">Удалить</a></td>
            <td> <a th:href="@{|/products/change/${item.getId()}|}">Изменить</a></td>
            <td th:utext="${item.getClient().getName()}">...</td>
            <td th:utext="${item.getClient().getSurname()}">...</td>
        </tr>
    </table>
</div>

<a href="products/add">Добавить новый товар в репозиторий</a>
<br>
<a href=index.html>На главную</a>
</body>
</html>