<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div>
    <form th:action="@{/registration}" th:object="${userForm}" method="post">
        <h2>Регистрация</h2>
        <div>
            <label>
                <input type="text" th:field="*{username}" placeholder="Username"
                            autofocus/>
            </label>
            <errors path="username" th:text="${usernameError}"></errors>
        </div>
        <div>
            <label>
                <input type="password" th:field="*{password}" placeholder="Password"/>
            </label>
        </div>
        <div>
            <label>
                <input type="password" th:field="*{passwordConfirm}"
                            placeholder="Confirm your password"/>
            </label>
            <errors path="password" th:text="${passwordError}"></errors>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <br>
    <a href="/">Главная</a>
</div>
</body>
</html>